.main__open {
  width: 83vw;
  background-color: #f9f9f9;
}

.main__closed {
  width: 95vw;
  height: 100vh;
  background-color: #f9f9f9;
  border-top: 1px solid lightgray;
}

.main__videos {
  padding-top: 40px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
